#paneApp {
	position: absolute;
	right: 0;
	z-index: 1;
	display: flex;
	align-content: flex-start;
	flex-flow: column nowrap;
	width: 270px;
	/*min-width: 300px;*/
	height: 100%;
	box-sizing: border-box;
	padding: 5px;
	border-left: var(--wrapper-borders);
}

#paneApp .wrapper {
	position: relative;
	z-index: 0;
	display: flex;
	align-content: center;
	justify-content: space-between;
	flex-flow: column nowrap;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

#paneApp .wrapper-top, .panel-container .wrapper-bottom {
	position: relative;
	z-index: 0;
	display: flex;
	align-content: space-between;
	flex-flow: column nowrap;
	width: 100%;
	height: calc(50% - 3px);
	box-sizing: border-box;
	border: var(--wrapper-borders);
}

#paneApp .tab-wrapper {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	flex-shrink: 0;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 25px;
	background: rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
	padding: 1px;
}

#paneApp .tab-wrapper button.tab {
	background: none;
	color: var(--white);
	position: relative;
	width: fit-content;
	height: 100%;
	padding: 0 10px;
	opacity: 0.4;
}

#paneApp .tab-wrapper button.tab:hover {
	background: none;
	opacity: 0.5;
	filter: none !important;
}

#paneApp .tab-wrapper button.tab.active {
	opacity: 1;
	background: var(--darko-b);
}

#paneApp .body-wrapper {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 5px;
	top: 25px;
	max-height: calc(100% - 25px);
}

#paneApp .app {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
}

#paneApp .app.hidden {
	display: none !important;
}

/*
*Materials
*Materials
*/

#materialApp {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: flex-start;
	overflow-x: hidden;
	overflow-y: scroll;
}

#materialApp .custom-file {
	padding: 0;
}

#materialApp .custom-file button {
	background: none;
}

#materialApp .custom-file img[src*='upload.svg'] {
	width: 50% !important;
	height: 50% !important;
	opacity: 0.1 !important;
}

#materialApp .item {
	background: none;
	border-radius: none;
	border: none;
	width: 60px;
	height: 60px;
	border: 1px dashed rgba(255, 255, 255, 0.1);
	margin: 3px;
	box-sizing: border-box;
}

#materialApp .item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#dropIcon {
	background: var(--darko-b);
	position: absolute;
	z-index: 99;
	display: flex;
	visibility: hidden;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	pointer-events: none;
	user-select: none;
}

#dropIcon img {
	opacity: 0.1;
	width: 30%;
}

/*
*Joints
*Joints
*/

#jointApp, #propertyApp, #historyApp {
	position: relative;
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
	width: 100%;
	height: fit-content;
	overflow-x: auto;
	overflow-y: scroll;
}

#jointApp .joint {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
	width: fit-content;
	height: fit-content;
}

#jointApp .joint .children {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
	width: 100%;
	height: fit-content;
	left: 10px;
	border-left: 2px solid rgba(255, 255, 255, 0.1);
}

#jointApp .joint button.name {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	height: fit-content;
	padding: 5px 10px;
	margin: 5px;
}

#jointApp .joint button.name img {
	width: 12px;
	height: 12px;
	margin-right: 5px;
	opacity: 0.75;
}

#jointApp .joint button.name p {
	font-size: 12px;
	color: var(--white);
	opacity: 0.75;
}

#jointApp .joint button.name.active {
	border: 1px solid var(--accent);
}

#jointApp .joint button.name.active p {
	opacity: 1;
}

#jointApp .joint button.name.active img {
	opacity: 1;
}

/*
*Properties
*Properties
*/

#propertyApp {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	width: 100%;
}

#propertyApp.disabled {
	pointer-events: none;
	user-select: none;
	opacity: 0.5;
}

#propertyApp .section {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	width: calc(100% - 15px);
}

#propertyApp label, #propertyApp p.title {
	font-size: 12px;
	line-height: 1;
}

#propertyApp label {
	margin-right: 5px;
	flex-shrink: 0;
	text-align: right;
	width: 40px;
	color: var(--dim-b);
}

#propertyApp p {
	font-size: 13px;
	color: var(--white);
}

#propertyApp .section .header, #propertyApp .section .body {
	width: 100%;
	border-bottom: 1px solid var(--darko-c);
	border-top: var(--borders);
}

#propertyApp .section .header {
	padding: 5px 2px 3px 2px;
	box-sizing: border-box;
}

#propertyApp .section .body {
	padding: 5px 0 15px 0;
	box-sizing: border-box;
}

#propertyApp .section:first-child .header {
	border-top: none;
}

#propertyApp .section:last-child .body {
	border-bottom: none;
}

#propertyApp .input-wrapper {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	width: 100%;
	height: fit-content;
}

#propertyApp .input-wrapper input {
	width: 100px;
}

button#removeSkin, button#resetOffset, button#displayCropApp {
	height: 30px;
	padding: 0 15px;
	margin-top: 5px;
	margin-left: auto;
}

#propertyApp #materials {
	background: var(--darko-c);
	border-radius: 3px;
	width: 100%;
	height: 30px;
}

/*
*History
*History
*/

#historyApp {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	width: 100%;
}

#historyApp .history {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 100%;
	height: 25px;
	border-bottom: 1px solid var(--darko-c);
	border-top: var(--borders);
	cursor: pointer;
}

#historyApp .history:first-child {
	border-top: none;
}

#historyApp .history:last-child {
	border-bottom: none;
}

#historyApp .history p {
	flex-shrink: 0;
	color: var(--dim-b);
	font-size: 12px;
	line-height: 1;
	width: calc(100% - 20px);
	height: fit-content;
	overflow: hidden;
	text-overflow: ellipsis;
	user-select: none;
	pointer-events: none;
	padding-left: 5px;
}

#historyApp .history:hover {
	background: rgba(0, 0, 0, 0.05);
}

#historyApp .history.current {
	background: rgba(240, 230, 250, 0.05);
}

#historyApp .history.current p {
	color: var(--white);
}