#contextMenuApp {
	position: absolute;
	z-index: 9999;
	width: fit-content;
	height: fit-content;
	padding: 0px;
	box-sizing: border-box;
	border-radius: 3px;

	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	top: -9999px;
}

#contextMenuApp .wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

#contextMenuApp .wrapper button {
	position: relative;
	display: block;
	width: 90px;
	height: 30px;
	border: none !important;
}

#contextMenuApp .wrapper button div.buttonIcon {
	opacity: 0.9;
}

#contextMenuApp .wrapper button div.buttonIcon:hover {
	opacity: 1;
}

#contextMenuApp .wrapper button {
	border-radius: 0px !important;
}

#contextMenuApp .wrapper button:first-child {
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
}

#contextMenuApp .wrapper button:last-child {
	border-bottom-left-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
}