:root {
	--white: #f6fafb;
	--black: #1d1f23;
	--accent: #5984d2;
	--darko-a: #34353f;
	--darko-b: #2a2b33;
	--darko-c: #26272f;
}

* {
	padding: 0;
	margin: 0;
	outline: 0;
	border: none;
	font-family: "Catamaran", sans-serif;
	color: var(--black);
}

body {
	overflow: hidden;
}

img {
	pointer-events: none;
	user-select: none;
}

input {
	padding: 2px 3px;
}

button {
	cursor: pointer;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

button:hover {
	filter: brightness(1.2) hue-rotate(5deg);
}

button:active {
	filter: brightness(1.4) hue-rotate(10deg);
}

button img {
	width: 60%;
	height: 60%;
}

button img[src*="play.svg"], button img[src*="previous.svg"], button img[src*="next.svg"], button img[src*="round-square.svg"] {
	width: 35%;
	height: 35%;
}

.filter-white {
	filter: invert(0.95) sepia(0.05) brightness(1) saturate(7) hue-rotate(178deg);
}

.darko-a {
	background: var(--darko-a);
	color: var(--white);
	border: 1px solid rgba(255, 255, 255, 0.02);
	border-radius: 3px;
}

.darko-b {
	background: var(--darko-b);
	color: var(--white);
	border: 1px solid rgba(255, 255, 255, 0.02);
	border-radius: 0px;
}

.darko-c {
	background: var(--darko-c);
	color: var(--white);
	border: 1px solid rgba(255, 255, 255, 0.02);
	border-radius: 3px;
}

.wrapper {
	width: 100%;
	height: 100%;
}

canvas#gameCanvas {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	/*cursor: none;*/
}