:root {
	--white: #d9dde0;
	--black: #1d1f23;
	--accent: #5984d2;
	--darko-a: #34353f;
	--darko-b: #2a2b33;
	--darko-c: #26272f;
	--darko-d: #333440;
	--darko-e: #3a3b47;
	--darko-f: #31323b;
	--darko-g: #3a3b4a;
	--hover: brightness(1.13) hue-rotate(5deg);
	--active: brightness(1.2) hue-rotate(10deg);
	--dim-a: rgba(245, 237, 255, 0.8);
	--dim-b: rgba(245, 237, 255, 0.5);
	--dim-c: rgba(245, 237, 255, 0.2);
	--borders: 1px solid rgba(240, 230, 250, 0.05);
	--wrapper-borders: 1px solid rgba(240, 230, 250, 0.125);
	--progress-bar-height: 2px;
	--drop-shadow: 5px 5px 7px rgba(20, 10, 30, 0.2);
}

* {
	padding: 0;
	margin: 0;
	outline: 0;
	border: none;
	font-family: "Catamaran", sans-serif;
	color: var(--black);
}

::placeholder {
	color: rgba(245, 238, 255, 0.15);
	user-select: none;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-corner {
  background: none;
}

::-webkit-scrollbar-track {
  background: rgba(240, 230, 255, 0.04);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(240, 230, 255, 0.08);
  border-radius: 10px;
}

body {
	background: var(--darko-b);
	overflow: hidden;
}

img {
	pointer-events: none;
	user-select: none;
}

input {
	padding: 2px 3px;
	font-size: 12px;
	box-sizing: border-box;
	background: rgba(20, 10, 30, 0.08);
	border-radius: 3px;
	border: 1px solid rgba(240, 230, 250, 0.025);
	color: var(--white);
}

label, p {
	user-select: none;
}

option {
	color: var(--white);
}

button {
	cursor: pointer;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	line-height: 1;
}

button:hover {
	filter: var(--hover);
}

button:active {
	filter: var(--active);
}

button img {
	width: 60%;
	height: 60%;
}

button img[src*="play.svg"], button img[src*="previous.svg"], button img[src*="next.svg"], button img[src*="round-square.svg"] {
	width: 35%;
	height: 35%;
}

button div.buttonIcon {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

button div.buttonIcon img {
	width: 40%;
	height: 50%;
}

button div.buttonIcon p {
	width: 70%;
	text-align: left;
	color: var(--white);
}

button.disabled {
	pointer-events: none;
	user-select: none;
	opacity: 0.5;
}

button.fit {
	width: fit-content !important;
	padding: 0px 8px !important;
	min-width: 60px;
}

button:disabled {
	pointer-events: none;
	user-select: none;
	filter: brightness(0.9);
}

span.shortcut {
	font-size: 10px;
	color: var(--dim-c);
}

.filter-white {
	filter: invert(0.95) sepia(0.05) brightness(1) saturate(7) hue-rotate(178deg);
}

.darko-a {
	background: var(--darko-a);
	color: var(--white);
	border: 1px solid rgba(255, 255, 255, 0.02);
	border-radius: 3px;
}

.darko-b {
	background: var(--darko-b);
	color: var(--white);
	border: 1px solid rgba(255, 255, 255, 0.02);
	border-radius: 0px;
}

.darko-c {
	background: var(--darko-c);
	color: var(--white);
	border: 1px solid rgba(255, 255, 255, 0.02);
	border-radius: 3px;
}

.darko-d {
	background: var(--darko-d);
	color: var(--white);
	border: 1px solid rgba(255, 255, 255, 0.02);
	border-radius: 3px;
}

.darko-e {
	background: var(--darko-e);
	color: var(--white);
	border: 1px solid rgba(255, 255, 255, 0.02);
	border-radius: 2px;
}

.darko-e:hover {
	filter: brightness(1.1);
}

.darko-f {
	background: var(--darko-f);
	color: var(--white);
	border: 1px solid rgba(255, 255, 255, 0.02);
	border-radius: 2px;
}

.darko-f:hover {
	filter: brightness(1.1);
}

.darko-g {
	background: var(--darko-g);
	color: var(--white);
	border-radius: 3px;
	border:1px solid rgba(240, 230, 250, 0.02);
}

.section.disabled {
	pointer-events: none;
	user-select: none;
	background: rgba(0, 0, 0, 0.05);
	opacity: 0.65;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.bottom {
	position: absolute;
	bottom: 0;
	width: fit-content;
	height: fit-content;
}

.flex-row {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-end;
}

.custom-file {
	position: relative;
	width: 60px;
	height: 20px;
}

.custom-file button {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.custom-file input {
	position: absolute;
	opacity: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	padding: 0 !important;
	margin: 0 !important;
}

.custom-file:hover button {
	filter: var(--hover);
}

.custom-file:active button {
	filter: var(--active);
}

.main-container {
	position: absolute;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	width: 100vw;
	height: 100vh;
}

.work-container {
	position: relative;
	z-index: 0;
	display: flex;
	align-content: space-between;
	flex-flow: column nowrap;
	width: calc(100% - 270px);
	/*min-width: 720px;*/
	height: 100%;
}

.error-text {
	font-size: 12px;
	color: red;
}

.slider-wrapper{
	position: relative;
	user-select: none;
	cursor: default;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.slider-wrapper .track {
	position: absolute;
	width: 100%;
	height: 20%;
	z-index: 0;
	border-radius: 2px;
}

.slider-wrapper .handle {
	position: absolute;
	left: 0;
	width: 10px;
	height: 80%;
	z-index: 1;
	border-radius: 2px;
	cursor: pointer;
}

.drag {
	position: absolute;
	z-index: 2 !important;
	pointer-events: all;
	user-select: all;
	top: -5px;
	left: -5px;
	width: calc(100% + 10px);
	height: 30px;
}

.drag ~ p {
	z-index: 1 !important;
}

.drag ~ button {
	z-index: 3 !important;
}

.canvas-container {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: fit-content;
	box-sizing: border-box;
	border: var(--wrapper-borders);
	border-right: none;
}

#toolApp {
	background: var(--darko-b);
	display: flex;
	flex-flow: column wrap;
	flex-shrink: 0;
	align-items: center;
	justify-content: flex-start;
	width: 30px;
	height: 100%;
	padding-top: 5px;
	box-sizing: border-box;
	border-right: var(--wrapper-borders);
}

#toolApp button {
	background: inherit;
	border: none;
	width: 25px;
	height: 25px;
	margin: 2.5px 0;
}

#toolApp button:hover {
	filter: brightness(1.05);
}

#toolApp button img {
	width: 70%;
}

.active-tool {
	background: var(--darko-c) !important;
	border: var(--borders) !important;
}

.active-tool:hover {
	background: none;
}

.checkbox {
	display: flex;
	flex-flow: row nowrap;
	width: fit-content;
	align-items: center;
	justify-content: center;
}

.checkbox label {
	line-height: 1;
	font-size: 12px;
	margin-left: 5px;
}

canvas#gameCanvas {
	position: relative;
	display: block;
	width: fit-content;
	height: fit-content;
}

#progressBarWrapper {
	position: absolute;
	z-index: 9999;
	display: none;
	flex-flow: row nowrap;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	width: calc(100% - 30px);
	height: fit-content;
	left: 30px;
	padding-top: 5px;
}

#progressBarWrapper p {
	font-size: 12px;
	line-height: 1;
	color: var(--accent);
	margin-left: 2.5px;
}

#progressBarWrapper button {
	padding: 2px 5px;
	margin-right: 2.5px;
}

#progressBar {
	position: absolute;
	background: var(--accent);
	width: 0%;
	height: 3px;
	top: 0;
}

#actionPreview {
	position: absolute;
	z-index: 1;
	display: block;
	width: 11px;
	height: 11px;
}

#actionPreview img {
	position: relative;
	width: 100%;
	height: 100%;
}

.custom-select {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	padding: 5px;
	box-sizing: border-box;
	cursor: pointer !important;
}

.custom-select > label {
	line-height: 1 !important;
	user-select: none !important;
	width: calc(100% - 20px) !important;
	color: var(--white) !important;
	text-align: left !important;
	pointer-events: none !important;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}

.custom-select > img {
	position: absolute;
	right: 10px;
	height: 30%;
}

.custom-select .options {
	display: none;
}

.custom-checkbox {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	width: fit-content;
	height: 25px;
	cursor: pointer;
}

.custom-checkbox .checkbox {
	position: relative;
	flex-shrink: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	background: rgba(20, 10, 30, 0.1);
	border: 1px solid rgba(240, 230, 250, 0.025);
	border-radius: 3px;
	width: 15px;
	height: 15px;
	pointer-events: none;
}

.custom-checkbox:hover .checkbox {
	background: rgba(20, 10, 30, 0.15);
}

.custom-checkbox:active .checkbox {
	background: rgba(20, 10, 30, 0.2);
}

.custom-checkbox .checkbox img {
	display: none;
	position: relative;
	width: auto;
	height: 70%;
	pointer-events: none;
}

.custom-checkbox .checkbox.checked img {
	display: block;
}

.custom-checkbox p {
	position: relative;
	line-height: 1;
	font-size: 12px;
	width: fit-content;
	height: fit-content;
	pointer-events: none;
	color: var(--white);
	margin-left: 2.5px;
}

#selectOptions {
	background: var(--darko-d);
	box-shadow: var(--drop-shadow);
	border-radius: 3px;
	position: absolute;
	z-index: 999999;
	display: none;
	flex-flow: column nowrap;
	align-content: center;
	align-items: flex-start;
	justify-content: flex-start;
	overflow-x: hidden;
	overflow-y: auto;
	height: fit-content;
	max-height: 200px;
	text-overflow: ellipsis;
	left: 0;
}

#selectOptions p {
	position: relative;
	text-align: left;
	width: 100%;
	height: 30px;
	padding: 5px;
	font-size: 12px;
	color: var(--white);
	box-sizing: border-box;
	user-select: none;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-shrink: 0;
}

#selectOptions p:hover {
	background: rgba(0, 0, 0, 0.05);
}

.ignore{
	pointer-events: none !important;
	user-select: none !important;
}