/*#materialApp {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-content: flex-start;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 5px;
	padding-top: 1px;
}

#materialApp > div {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-content: flex-start;
	align-items: center;
	width: 100%;
	height: fit-content;
}

#materialApp p.title {
	color: var(--white);
	line-height: 1;
	padding: 5px 0;
	box-sizing: border-box;
	width: 100%;
	border-bottom: var(--wrapper-borders);
	font-size: 14px;
	margin-bottom: 5px;
}

#materialApp .material-pane {
	position: relative;
	flex-flow: row wrap;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
}

#materialApp .material-pane button.material, #materialApp .material-pane .custom-file  {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	width: 50px;
	height: 50px;
	margin: 2px;
	box-sizing: border-box;
	padding: 5px;
}

#materialApp .material-pane .custom-file {
	padding: 0;
}

#materialApp .material-pane button.material img {
	position: absolute;
	z-index: 0;
	width: 60%;
	height: 60%;
	object-fit: cover;
}

#materialApp .material-pane button.material p {
	background: none;
	border: none;
	color: var(--dim-b);
	user-select: none;
	pointer-events: none;
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: fit-content;
	line-height: 1;
	text-align: center;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
	padding: 0 2px;
}


#materialApp .material-pane button.material.selected {
	background: var(--accent);
}*/