#navigation {
	position: relative;
	z-index: 5;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	height: fit-content;
	padding: 5px 2px;
	box-sizing: border-box;
}

#navigation [class^="wrapper-"] {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	width: 50%;
	height: fit-content;
}

#navigation .wrapper-left {
	justify-content: flex-start;
}

#navigation .wrapper-right {
	justify-content: flex-end;
}

#navigation button {
	position: relative;
	width: 30px;
	height: 30px;
	margin: 3px 3px;
}

#progressBarWrapper {
	position: absolute;
	display: none;
	left: 0;
	bottom: -30px;
	width: 100vw;
	height: 30px;
	box-sizing: border-box;
}

#progressBar {
	background: var(--accent);
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: var(--progress-bar-height);
}

#progressBarWrapper p {
	position: absolute;
	left: 2px;
	top: 2px;
	font-size: 12px;
	color: var(--accent);
}

#progressBarWrapper button {
	position: absolute;
	right: 2px;
	top: 2px;
	width: fit-content;
	height: fit-content;
	padding: 3px 4px;
}