#overlayApp {
	position: absolute;
	top: 20%;
	right: 20%;
	z-index: 9999;
	width: 80%;
	max-width: 250px;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 4px 4px 8px 4px;
	box-sizing: border-box;
	border-radius: 3px;

	opacity: 0;
}

#overlayApp .row {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;
	width:100%;
	height: fit-content;

	padding: 3px;
	box-sizing: border-box;
}

#overlayApp p {
	color: var(--white);
}

#overlayApp p.title {
	position: relative;
	display: block;
	width: 100%;
	height: fit-content;
	margin-top: 8px;
	margin-bottom: 10px;
	padding-top: 8px;
	line-height: 1;
	font-size: 14px;
	cursor: default;
}

#overlayApp .row.section {
	margin-top: 15px;
	border: var(--borders);
	padding-bottom: 4px;
}

#overlayApp .row.section.disabled {
	pointer-events: none;
	user-select: none;
	background: rgba(0, 0, 0, 0.05);
	opacity: 0.5;
}

#overlayApp .row.section .title-wrapper {
	display: flex;
	align-items: center;
	align-content: center;
	width: 100%;
	transform: translateY(calc(-50% - 2px));
}

#overlayApp .row.section p {
	background: var(--darko-b);
	margin: 0;
	padding: 0;
	width: fit-content;
	padding: 0 4px;
}

#overlayApp .field {
	position: relative;
	display: flex;
	align-content: center;
	align-items: flex-start;
	justify-content: flex-start;
	flex-flow: column nowrap;
	width: fit-content;
	margin-right: 13px;
	margin-bottom: 5px;
	margin-left: 4px;
}

#overlayApp .field.row-field {
	align-items: center;
	flex-flow: row nowrap;
}

#overlayApp .field.row-field p {
	color: var(--dim-a);
	font-size: 12px;
}

#overlayApp .field:last-child {
	margin-right: 0;
}

#overlayApp .field label {
	position: relative;
	display: block;
	line-height: 1;
	width: 100%;
	height: fit-content;
	font-size: 12px;
	margin-bottom: 1px;
	color: var(--dim-b);
}

#overlayApp .field input {
	position: relative;
	display: block;
	width: 70px;
	height: fit-content;
}

#overlayApp .row:last-child {
	align-items: center;
	align-content: center;
	justify-content: center;
	margin-top: 15px;
}

#overlayApp .row:last-child button {
	width: 80px;
	height: 30px;
}

#overlayApp .custom-file {
	width: 80px;
	height: 30px;
}

#overlayApp .filename-wrapper p {
	font-size: 12px;
	font-weight: 400;
	text-overflow: ellipsis;
	color: var(--dim-b);
}

#overlayApp .row:first-child {
	margin-bottom: 6px;
	padding-bottom: 6px;
	margin-top: 1px;
	padding-top: 1px;
	border-bottom: var(--borders);
}

#overlayApp .row:first-child p {
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 16px;
}

#overlayApp button.close {
	position: absolute;
	right: 6px;
	color: var(--dim-b);
	width: 15px;
	height: 15px;
}