#saveApp {
	position: absolute;
	top: 20%;
	right: 20%;
	z-index: 9999;
	width: 80%;
	max-width: 250px;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 4px 4px 8px 4px;
	box-sizing: border-box;
	border-radius: 3px;

	opacity: 0;
}

#saveApp .row {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;
	width:100%;
	height: fit-content;
}

#saveApp p.title {
	position: relative;
	display: block;
	width: 100%;
	height: fit-content;
	margin-top: 8px;
	margin-bottom: 10px;
	padding-top: 8px;
	line-height: 1;
	color: var(--white);
	font-size: 14px;
	cursor: default;
}

#saveApp .field {
	position: relative;
	display: flex;
	align-content: center;
	align-items: flex-start;
	justify-content: flex-start;
	flex-flow: column nowrap;
	width: 100%;
	margin-right: 13px;
}

#saveApp .field:last-child {
	margin-right: 0;
}

#saveApp .field label {
	position: relative;
	display: block;
	line-height: 1;
	width: 100%;
	height: fit-content;
	font-size: 12px;
	margin-bottom: 1px;
	color: var(--dim-b);
}

#saveApp .field input {
	position: relative;
	display: block;
	width: 100%;
	height: fit-content;
	box-sizing: border-box;
}

#saveApp .row:last-child {
	align-items: center;
	align-content: center;
	justify-content: center;
	margin-top: 20px;
}

#saveApp .row:last-child button {
	width: 80px;
	height: 30px;
}

#saveApp .row:first-child {
	margin-bottom: 6px;
	padding-bottom: 6px;
	margin-top: 1px;
	padding-top: 1px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.02);
}

#saveApp .row:first-child p {
	margin: 0;
	padding: 0;
	border-top: none;
	font-weight: 700;
	font-size: 16px;
}

#saveApp button.close {
	position: absolute;
	right: 6px;
	color: var(--dim-b);
	width: 15px;
	height: 15px;
}