<!DOCTYPE html>
<html>
	<head>
		<title>Rigme - Animator App</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700;800&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/timeline.css">
		<link rel="stylesheet" type="text/css" href="css/panel.css">
		<link rel="stylesheet" type="text/css" href="css/navigation.css">
		<link rel="stylesheet" type="text/css" href="css/file.css">
		<link rel="stylesheet" type="text/css" href="css/save.css">
		<link rel="stylesheet" type="text/css" href="css/load.css">
		<link rel="stylesheet" type="text/css" href="css/option.css">
		<link rel="stylesheet" type="text/css" href="css/overlay.css">
		<link rel="stylesheet" type="text/css" href="css/contextMenu.css">
	</head>
	<body>
		<div id="gameContainer">
			<div id="block"></div>
			<!-- Context Menu App -->
			<div id="contextMenuApp" class="darko-d" v-if="!hidden">
				<div class="wrapper">
					<button id="copyKeyframe" class="darko-d" v-on:click="copy">
					<div class="buttonIcon">
						<img src="assets/svg/copy.svg" class="" />
						<p>Copy</p>
					</div>
					</button>
					<button id="pasteKeyframe" class="darko-d" v-on:click="paste">
					<div class="buttonIcon">
						<img src="assets/svg/clipboard.svg" class="" />
						<p>Paste</p>
					</div>
					</button>
				</div>
			</div>
			<!-- Option app -->
			<div id="optionApp" v-if="!hidden">
				<div class="wrapper">
					<button id="showOverlayApp" class="darko-d" v-on:mousedown="showOverlayApp">Add Overlay...</button>
					<button id="" class="darko-d" v-on:mousedown="clearJoints">Clear joints</button>
					<button id="" class="darko-d" v-on:mousedown="resetView">Reset view</button>
					<button id="" class="darko-d" v-on:mousedown="undo">Undo<span class="shortcut">Ctrl + Z</span></button>
					<button id="" class="darko-d" v-on:mousedown="redo">Redo<span class="shortcut">Ctrl + Y</span></button>
				</div>
			</div>
			<!-- File app -->
			<div id="fileApp" v-if="!hidden">
				<div class="wrapper">
					<button id="showSaveApp" class="darko-d" v-on:mousedown="showSaveApp">Save...</button>
					<button id="showLoadApp" class="darko-d" v-on:mousedown="showLoadApp">Load...</button>
					<button id="showExportApp" class="darko-d">Export as...</button>
				</div>
			</div>
			<!-- Save app -->
			<div id="saveApp" class="darko-b" v-if="!hidden">
				<div class="row">
					<p class="title">Save</p>
					<button class="darko-a close" v-on:click="hide" v-bind:title="closeMsg">x</button>
				</div>
				<div class="row">
					<div class="field">
						<label for="filename">File name:</label>
						<input id="saveFilename" type="text" class="darko-c" placeholder="Type here..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" v-model="defaultTitle" v-on:input="checkFilename" v-on:keydown.enter="validate" >
					</div>
				</div>
				<div class="row">
					<button id="download" class="darko-a" v-on:click="validate">Download</button>
				</div>
			</div>
			<!-- Load app -->
			<div id="loadApp" class="darko-b" v-if="!hidden">
				<div class="row">
					<p class="title">Load</p>
					<button class="darko-a close" v-on:click="hide" v-bind:title="closeMsg">x</button>
				</div>
				<div class="row section">
					<div class="title-wrapper">
						<p class="title">File</p>
					</div>
					<div class="custom-file">
						<button class="darko-a">Upload</button>
						<input id="importInput" type="file" accept=".rigme" v-on:change="checkFile" />
					</div>
					<div class="filename-wrapper">
						<p id="loadFilename">Choose a file...</p>
					</div>
					<p class="error-text" v-if="fileError">{{errorMessage}}</p>
				</div>
				<div class="row">
					<button id="import" class="darko-a disabled" v-on:click="validate">Import</button>
				</div>
			</div>
			<!-- Overlay app -->
			<div id="overlayApp" class="darko-b" v-if="!hidden">
				<div class="row">
					<p class="title">Add Overlay</p>
					<button class="darko-a close" v-on:click="hide" v-bind:title="closeMsg">x</button>
				</div>
				<div class="row section">
					<div class="title-wrapper">
						<p class="title">File</p>
					</div>
					<div class="custom-file">
						<button class="darko-a">Upload</button>
						<input id="overlayInput" type="file" accept="video/*" v-on:change="checkFile" />
					</div>
					<div class="filename-wrapper">
						<p id="overlayFilename">Choose a file...</p>
					</div>
				</div>
				<div class="row section disabled">
					<div class="title-wrapper">
						<p class="title">Quality</p>
					</div>
					<div class="field row-field">
						<input id="overlayQuality" type="text" class="darko-c" placeholder="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-min="10" data-max="100" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount">
						<p>%</p>
					</div>
				</div>
				<div class="row section disabled">
					<div class="title-wrapper">
						<p class="title">Frames</p>
					</div>
					<div class="field">
						<label for="overlayFrameCount">Frame Count:</label>
						<input id="overlayFrameCount" type="text" class="darko-c" placeholder="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-min="1" data-max="99999999" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount">
					</div>
					
					<div class="field">
						<label for="overlayFrameRate">Frame Rate:</label>
						<input id="overlayFrameRate" type="text" class="darko-c" placeholder="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-min="1" data-max="120" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount">
					</div>
				</div>
				<div class="row section disabled">
					<div class="title-wrapper">
						<p class="title">Trim</p>
					</div>
					<div class="field">
						<label for="overlayStart">From:</label>
						<input id="overlayStart" type="text" class="darko-c" placeholder="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-min="1" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount">
					</div>
					<div class="field">
						<label for="overlayEnd">To:</label>
						<input id="overlayEnd" type="text" class="darko-c" placeholder="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount">
					</div>
				</div>
				<div class="row">
					<button id="addOverlay" class="darko-a disabled" v-on:click="validate">Add</button>
				</div>
			</div>
			<!-- Nav -->
			<div id="navigation" class="darko-b">
				<div class="wrapper-left">
					<button id="fileButton" class="darko-a fit">File</button>
					<button id="optionButton" class="darko-a fit">Options</button>
				</div>
				<div class="wrapper-right">
					<button id="panCamera" class="darko-a active-tool" v-bind:title="moveMsg">
					<img src="assets/svg/quad-arrow.svg" class="" />
					</button>
					<button id="addJoint" class="darko-a" v-bind:title="addJointMsg">
					<img src="assets/svg/joint-plus.svg" class="" />
					</button>
					<button id="selectJoint" class="darko-a" v-bind:title="selectJointMsg">
					<img src="assets/svg/joint-click.svg" class="" />
					</button>
					<button id="moveJoint" class="darko-a" v-bind:title="moveJointMsg">
					<img src="assets/svg/joint-arrow.svg" class="" />
					</button>
					<button id="removeJoint" class="darko-a" v-bind:title="removeJointMsg">
					<img src="assets/svg/joint-trash.svg" class="" />
					</button>
				</div>
				<div id="progressBarWrapper">
					<div id="progressBar"></div>
					<p>Converting to frames...</p>
					<button class="darko-a">Cancel</button>
				</div>
			</div>
			<canvas id="gameCanvas"></canvas>
			<div id="appDock" class="">
				<div class="flex-row">
					<!-- Timeline App -->
					<div id="timelineApp" class="darko-b">
						<div class="wrapper">
							<!-- Timeline -->
							<div class="row-a">
								<div id="timelineGraphWrapper">
									<canvas id="timelineGraph"></canvas>
								</div>
							</div>
							<!-- Timeline control -->
							<div class="row-b">
								<button id="lastFrame" class="darko-a" v-bind:title="lastMsg">
								<img src="assets/svg/previous.svg" class="" />
								</button>
								<button id="playStop" class="darko-a" v-bind:title="playMsg">
								<img src="assets/svg/play.svg" class="" />
								</button>
								<button id="nextFrame" class="darko-a" v-bind:title="nextMsg">
								<img src="assets/svg/next.svg" class="" />
								</button>
								<button id="addKeyframe" class="darko-a" v-bind:title="addKeyMsg">
								<img src="assets/svg/key-plus.svg" class="" />
								</button>
								<button id="deleteKeyframe" class="darko-a" v-bind:title="removeKeyMsg">
								<img src="assets/svg/key-minus.svg" class="" />
								</button>
								<div class="input-wrapper left-auto" v-bind:title="frameCountMsg">
									<img src="assets/svg/fr.svg">
									<input id="frameCount" class="darko-c" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="30" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount"></input>
								</div>
								
								<div class="input-wrapper" v-bind:title="animationSpeedMsg">
									<img src="assets/svg/rabbit.svg">
									<input id="animationSpeed" class="darko-c" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="30" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount"></input>
								</div>
								<button id="minimize" class="">
								<img src="assets/svg/triangle.svg" class="" />
								</button>
							</div>
						</div>
					</div>
					<!-- Panel -->
					<!-- <div id="panelApp">
									<div class="wrapper">
													<div class="row-a">
																	<div class="wrapper-material">
																					<div class="menu">
																									<button id="fileButton" class="darko-a">File</button>
																					</div>
																	</div>
																	<div class="wrapper-layer">
																					
																	</div>
													</div>
									</div>
					</div> -->
				</div>
			</div>
			
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>