<!DOCTYPE html>
<html>
	<head>
		<title>Rigme - Animator App</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700;800&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/timeline.css">
		<link rel="stylesheet" type="text/css" href="css/panel.css">
		<link rel="stylesheet" type="text/css" href="css/navigation.css">
		<link rel="stylesheet" type="text/css" href="css/file.css">
		<link rel="stylesheet" type="text/css" href="css/save.css">
		<link rel="stylesheet" type="text/css" href="css/load.css">
		<link rel="stylesheet" type="text/css" href="css/overlay.css">
		<link rel="stylesheet" type="text/css" href="css/contextMenu.css">
	</head>
	<body>
		<div id="gameContainer">
			<!-- Context Menu App -->
			<div id="contextMenuApp" class="darko-d" v-if="!hidden">
				<div class="wrapper">
					<button id="copyKeyframe" class="darko-d" v-on:click="copy">
					<div class="buttonIcon">
						<img src="assets/svg/copy.svg" class="" />
						<p>Copy</p>
					</div>
					</button>
					<button id="pasteKeyframe" class="darko-d" v-on:click="paste">
					<div class="buttonIcon">
						<img src="assets/svg/clipboard.svg" class="" />
						<p>Paste</p>
					</div>
					</button>
				</div>
			</div>
			<!-- File app -->
			<div id="fileApp" v-if="!hidden">
				<div class="wrapper">
					<button id="showSaveApp" class="darko-d" v-on:click="showSaveApp">Save</button>
					<button id="showLoadApp" class="darko-d" v-on:click="showLoadApp">Load</button>
					<button id="showExportApp" class="darko-d">Export as...</button>
					<button id="showOverlayApp" class="darko-d" v-on:click="showOverlayApp">Add Overlay</button>
				</div>
			</div>
			<!-- Overlay app -->
			<div id="overlayApp" class="darko-b" v-if="!hidden">
				<div class="row">
					<p class="title">Add Overlay</p>
					<button class="darko-a close" v-on:click="hide">x</button>
				</div>
				<div class="row section">
					<div class="title-wrapper">
						<p class="title">File</p>
					</div>
					<div class="custom-file">
						<button class="darko-a">Upload</button>
						<input id="overlayInput" type="file" />
					</div>
					<div class="filename-wrapper">
						<p id="filename">Choose a file...</p>
					</div>
				</div>
				<div class="row section">
					<div class="title-wrapper">
						<p class="title">Frames</p>
					</div>
					<div class="field">
						<label for="">Frame Count:</label>
						<input type="text" class="darko-c" placeholder="auto">
					</div>
					
					<div class="field">
						<label for="">Frame Rate:</label>
						<input type="text" class="darko-c" placeholder="auto">
					</div>
				</div>
				<div class="row section">
					<div class="title-wrapper">
						<p class="title">Trim</p>
					</div>
					<div class="field">
						<label for="">From:</label>
						<input type="text" class="darko-c" placeholder="auto">
					</div>
					<div class="field">
						<label for="">To:</label>
						<input type="text" class="darko-c" placeholder="auto">
					</div>
				</div>
				<div class="row">
					<button id="addOverlay" class="darko-a">Add</button>
				</div>
			</div>
			<!-- Save app -->
			<div id="saveApp" class="darko-b" v-if="!hidden">
				<div class="row">
					<p class="title">Save</p>
					<button class="darko-a close" v-on:click="hide">x</button>
				</div>
				<div class="row">
					<div class="field">
						<label for="filename">File name:</label>
						<input id="filename" type="text" class="darko-c" placeholder="Type here...">
					</div>
				</div>
				<div class="row">
					<button id="download" class="darko-a">Download</button>
				</div>
			</div>
			<!-- Load app -->
			<div id="loadApp" class="darko-b" v-if="!hidden">
				<div class="row">
					<p class="title">Load</p>
					<button class="darko-a close" v-on:click="hide">x</button>
				</div>
				<div class="row section">
					<div class="title-wrapper">
						<p class="title">File</p>
					</div>
					<div class="custom-file">
						<button class="darko-a">Upload</button>
						<input id="importInput" type="file" />
					</div>
					<div class="filename-wrapper">
						<p id="filename">Choose a file...</p>
					</div>
				</div>
				<div class="row">
					<button id="import" class="darko-a">Import</button>
				</div>
			</div>
			<!-- Nav -->
			<div id="navigation" class="darko-b">
				<div class="wrapper-left">
					<button id="fileButton" class="darko-a fit">File</button>
					<button id="settingsButton" class="darko-a fit">Settings</button>
				</div>
				<div class="wrapper-right">
					<button id="panCamera" class="darko-a active-tool">
					<img src="assets/svg/quad-arrow.svg" class="" />
					</button>
					<button id="addJoint" class="darko-a">
					<img src="assets/svg/joint-plus.svg" class="" />
					</button>
					<button id="selectJoint" class="darko-a">
					<img src="assets/svg/joint-click.svg" class="" />
					</button>
					<button id="moveJoint" class="darko-a">
					<img src="assets/svg/joint-arrow.svg" class="" />
					</button>
					<button id="removeJoint" class="darko-a">
					<img src="assets/svg/joint-trash.svg" class="" />
					</button>
				</div>
			</div>
			<div id="appDock" class="bottom">
				<div class="flex-row">
					<!-- Timeline App -->
					<div id="timelineApp" class="darko-b">
						<div class="wrapper">
							<!-- Timeline -->
							<div class="row-a">
								<div id="timelineGraphWrapper">
									<canvas id="timelineGraph"></canvas>
								</div>
							</div>
							<!-- Timeline control -->
							<div class="row-b">
								<button id="lastFrame" class="darko-a">
								<img src="assets/svg/previous.svg" class="" />
								</button>
								<button id="playStop" class="darko-a">
								<img src="assets/svg/play.svg" class="" />
								</button>
								<button id="nextFrame" class="darko-a">
								<img src="assets/svg/next.svg" class="" />
								</button>
								<button id="addKeyframe" class="darko-a">
								<img src="assets/svg/key-plus.svg" class="" />
								</button>
								<button id="deleteKeyframe" class="darko-a">
								<img src="assets/svg/key-minus.svg" class="" />
								</button>
								<div class="input-wrapper left-auto">
									<img src="assets/svg/fr.svg">
									<input id="frameCount" class="darko-c" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="30" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount"></input>
								</div>
								
								<div class="input-wrapper">
									<img src="assets/svg/rabbit.svg">
									<input id="animationSpeed" class="darko-c" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="30" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount"></input>
								</div>
								<button id="minimize" class="">
								<img src="assets/svg/triangle.svg" class="" />
								</button>
							</div>
						</div>
					</div>
					<!-- Panel -->
					<!-- <div id="panelApp">
									<div class="wrapper">
													<div class="row-a">
																	<div class="wrapper-material">
																					<div class="menu">
																									<button id="fileButton" class="darko-a">File</button>
																					</div>
																	</div>
																	<div class="wrapper-layer">
																					
																	</div>
													</div>
									</div>
					</div> -->
				</div>
			</div>
			<canvas id="gameCanvas"></canvas>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>