<!DOCTYPE html>
<html>
	<head>
		<title>Rigme - Animator App</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700;800&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/timeline.css">
		<link rel="stylesheet" type="text/css" href="css/panel.css">
		<link rel="stylesheet" type="text/css" href="css/navigation.css">
		<link rel="stylesheet" type="text/css" href="css/file.css">
		<link rel="stylesheet" type="text/css" href="css/save.css">
		<link rel="stylesheet" type="text/css" href="css/load.css">
		<link rel="stylesheet" type="text/css" href="css/option.css">
		<link rel="stylesheet" type="text/css" href="css/overlay.css">
		<link rel="stylesheet" type="text/css" href="css/overlay.config.css">
		<link rel="stylesheet" type="text/css" href="css/contextMenu.css">
		<link rel="stylesheet" type="text/css" href="css/material.css">
	</head>
	<body>
		<div class="main-container">
			<!-- Context Menu App -->
			<div id="contextMenuApp" class="darko-d" v-if="!hidden">
				<div class="wrapper">
					<button id="copyKeyframe" class="darko-d" v-on:click="copy">
					<div class="buttonIcon">
						<img src="assets/svg/copy.svg" class="" />
						<p>Copy</p>
					</div>
					</button>
					<button id="pasteKeyframe" class="darko-d" v-on:click="paste">
					<div class="buttonIcon">
						<img src="assets/svg/clipboard.svg" class="" />
						<p>Paste</p>
					</div>
					</button>
				</div>
			</div>
			<!-- Option app -->
			<div id="optionApp" v-if="!hidden">
				<div class="wrapper">
					<button id="showOverlayApp" class="darko-d" v-on:mousedown="showOverlayApp">Add Overlay...</button>
					<button id="showOverlayConfigApp" class="darko-d" v-on:mousedown="showOverlayConfigApp" v-if="!overlayConfigHidden">Overlay Settings...</button>
					<button id="" class="darko-d" v-on:mousedown="undo">Undo<span class="shortcut">Ctrl + Z</span></button>
					<button id="" class="darko-d" v-on:mousedown="redo">Redo<span class="shortcut">Ctrl + Y</span></button>
					<button id="" class="darko-d" v-on:mousedown="clearJoints">Reset keyframes</button>
					<button id="" class="darko-d" v-on:mousedown="resetTimeline">Reset timeline</button>
					<button id="" class="darko-d" v-on:mousedown="resetView">Reset view</button>
				</div>
			</div>
			<!-- File app -->
			<div id="fileApp" v-if="!hidden">
				<div class="wrapper">
					<button id="showSaveApp" class="darko-d" v-on:mousedown="showSaveApp">Save Project</button>
					<button id="showLoadApp" class="darko-d" v-on:mousedown="showLoadApp">Load Project</button>
					<button id="showExportApp" class="darko-d">Export as...</button>
				</div>
			</div>
			<!-- Save app -->
			<div id="saveApp" class="darko-b" v-if="!hidden">
				<div class="row">
					<div class="drag"></div>
					<p class="title">Save Project</p>
					<button class="darko-a close" v-on:click="hide" v-bind:title="closeMsg">x</button>
				</div>
				<div class="row">
					<div class="field">
						<label for="filename">File name:</label>
						<input id="saveFilename" type="text" class="darko-c" placeholder="Type here..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" v-model="defaultTitle" v-on:input="checkFilename" v-on:keydown.enter="validate" >
					</div>
				</div>
				<div class="row">
					<button id="download" class="darko-a" v-on:click="validate">Save</button>
				</div>
			</div>
			<!-- Load app -->
			<div id="loadApp" class="darko-b" v-if="!hidden">
				<div class="row">
					<div class="drag"></div>
					<p class="title">Load Project</p>
					<button class="darko-a close" v-on:click="hide" v-bind:title="closeMsg">x</button>
				</div>
				<div class="row section">
					<div class="title-wrapper">
						<p class="title">File</p>
					</div>
					<div class="custom-file">
						<button class="darko-a">Upload</button>
						<input id="importInput" type="file" accept=".rigme" v-on:change="checkFile" />
					</div>
					<div class="filename-wrapper">
						<p id="loadFilename">Choose a file...</p>
					</div>
					<p class="error-text" v-if="fileError">{{errorMessage}}</p>
				</div>
				<div class="row">
					<button id="import" class="darko-a disabled" v-on:click="validate">Load</button>
				</div>
			</div>
			<!-- Overlay app -->
			<div id="overlayApp" class="darko-b" v-if="!hidden">
				<div class="row">
					<div class="drag"></div>
					<p class="title">Add Overlay</p>
					<button class="darko-a close" v-on:click="hide" v-bind:title="closeMsg">x</button>
				</div>
				<div class="row section">
					<div class="title-wrapper">
						<p class="title">Upload a Video</p>
					</div>
					<div class="custom-file">
						<button class="darko-a">Choose</button>
						<input id="overlayInput" type="file" accept="video/*" v-on:change="checkFile" />
					</div>
					<div class="filename-wrapper">
						<p id="overlayFilename">Choose a file...</p>
					</div>
				</div>
				<div class="row section disabled">
					<div class="title-wrapper">
						<p class="title">Video Quality</p>
					</div>
					<div class="field row-field">
						<input id="overlayQuality" type="text" class="darko-c" placeholder="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-min="10" data-max="100" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount">
						<p>%</p>
					</div>
				</div>
				<div class="row section disabled">
					<div class="title-wrapper">
						<p class="title">Frames</p>
					</div>
					<div class="field">
						<label for="overlayFrameCount">Frame Count:</label>
						<input id="overlayFrameCount" type="text" class="darko-c" placeholder="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-min="1" data-max="99999999" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount">
					</div>
					
					<div class="field">
						<label for="overlayFrameRate">Frame Rate:</label>
						<input id="overlayFrameRate" type="text" class="darko-c" placeholder="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-min="1" data-max="120" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount">
					</div>
				</div>
				<div class="row section disabled">
					<div class="title-wrapper">
						<p class="title">Trim Video</p>
					</div>
					<div class="field">
						<label for="overlayStart">Start:</label>
						<input id="overlayStart" type="text" class="darko-c" placeholder="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-min="1" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount">
					</div>
					<div class="field">
						<label for="overlayEnd">End:</label>
						<input id="overlayEnd" type="text" class="darko-c" placeholder="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount">
					</div>
				</div>
				<div class="row">
					<button id="addOverlay" class="darko-a disabled" v-on:click="validate">Add</button>
				</div>
			</div>
			<!-- Overlay config app -->
			<div id="overlayConfigApp" class="darko-b" v-if="!hidden">
				<div class="row">
					<div class="drag"></div>
					<p class="title">Overlay Settings</p>
					<button class="darko-a close" v-on:click="hide" v-bind:title="closeMsg">x</button>
				</div>
				<div class="row section">
					<div class="title-wrapper">
						<p class="title">Appearance</p>
					</div>
					<div class="field max-width-field">
						<label for="overlayFrameCount">Opacity:</label>
						<div id="scaleSlider" class="slider-wrapper" data-label="opacity">
							<div class="handle darko-e"></div>
							<div class="track darko-d"></div>
						</div>
					</div>
					<div class="field max-width-field">
						<label for="overlayFrameCount">Scale:</label>
						<div id="opacitySlider" class="slider-wrapper" data-label="scale">
							<div class="handle darko-e"></div>
							<div class="track darko-d"></div>
						</div>
					</div>
					
					<div class="field max-width-field">
						<label for="overlayFrameRate">Rotate:</label>
						<div id="rotateSlider" class="slider-wrapper" data-label="rotate">
							<div class="handle darko-e"></div>
							<div class="track darko-d"></div>
						</div>
					</div>
				</div>
				<div class="row section">
					<div class="title-wrapper">
						<p class="title">Trim Frames</p>
					</div>
					<div class="field">
						<label for="overlayConfigTrimStart">Start:</label>
						<input id="overlayConfigTrimStart" type="text" class="darko-c" placeholder="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-min="1" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount">
					</div>
					<div class="field">
						<label for="overlayConfigTrimEnd">End:</label>
						<input id="overlayConfigTrimEnd" type="text" class="darko-c" placeholder="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount">
					</div>
				</div>
				<div class="row section">
					<div class="title-wrapper">
						<p class="title">Frame Start</p>
					</div>
					<div class="field row-field">
						<input id="overlayConfigStart" type="text" class="darko-c" placeholder="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-min="1" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount">
						<p>F</p>
					</div>
					
				</div>
				<div class="row">
					<button id="removeOverlay" class="darko-a fit" v-on:click="removeOverlay">Delete Overlay</button>
					<button id="resetOverlayConfig" class="darko-a fit" v-on:click="reset">Reset</button>
				</div>
			</div>
			<div class="work-container">
				<!-- Nav -->
				<div id="navigation" class="darko-b">
					<div class="wrapper-left">
						<button id="fileButton" class="darko-a fit">File</button>
						<button id="optionButton" class="darko-a fit">Options</button>
					</div>
					<div class="wrapper-right">
						<button id="panCamera" class="darko-a active-tool" v-bind:title="moveMsg">
						<img src="assets/svg/quad-arrow.svg" class="" />
						</button>
						<button id="addJoint" class="darko-a" v-bind:title="addJointMsg">
						<img src="assets/svg/joint-plus.svg" class="" />
						</button>
						<button id="selectJoint" class="darko-a" v-bind:title="selectJointMsg">
						<img src="assets/svg/joint-click.svg" class="" />
						</button>
						<button id="moveJoint" class="darko-a" v-bind:title="moveJointMsg">
						<img src="assets/svg/joint-arrow.svg" class="" />
						</button>
						<button id="removeJoint" class="darko-a" v-bind:title="removeJointMsg">
						<img src="assets/svg/joint-trash.svg" class="" />
						</button>
					</div>
					<div id="progressBarWrapper">
						<div id="progressBar"></div>
						<p>Converting to frames...</p>
						<button class="darko-a">Cancel</button>
					</div>
				</div>
				<div class="canvas-container">
					<canvas id="gameCanvas"></canvas>
				</div>
				<!-- Timeline App -->
				<div id="timelineApp" class="darko-b">
					<div class="wrapper">
						<!-- Timeline -->
						<div class="row-a">
							<div id="timelineGraphWrapper">
								<canvas id="timelineGraph"></canvas>
							</div>
						</div>
						<!-- Timeline control -->
						<div class="row-b">
							<div class="left-wrapper">
								<button id="zoomInTimeline" class="darko-a" v-bind:title="'Zoom in'">
								<img src="assets/svg/magnifying-glass-plus.svg" class="" />
								</button>
								<button id="zoomOutTimeline" class="darko-a" v-bind:title="'Zoom out'">
								<img src="assets/svg/magnifying-glass-minus.svg" class="" />
								</button>
								<button id="lastFrame" class="darko-a" v-bind:title="'Previous frame'">
								<img src="assets/svg/previous.svg" class="" />
								</button>
								<button id="playStop" class="darko-a" v-bind:title="'Play / Stop'">
								<img src="assets/svg/play.svg" class="" />
								</button>
								<button id="nextFrame" class="darko-a" v-bind:title="'Next frame'">
								<img src="assets/svg/next.svg" class="" />
								</button>
								<button id="addKeyframe" class="darko-a" v-bind:title="'Add keyframe'">
								<img src="assets/svg/key-plus.svg" class="" />
								</button>
								<button id="deleteKeyframe" class="darko-a" v-bind:title="'Delete keyframe'">
								<img src="assets/svg/key-minus.svg" class="" />
								</button>
							</div>
							<div class="right-wrapper">
								<div class="input-wrapper" v-bind:title="'Frame Count'">
									<img src="assets/svg/f.svg">
									<input id="frameCount" class="darko-c" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="30" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount"></input>
								</div>
								
								<div class="input-wrapper" v-bind:title="'Animation Speed'">
									<img src="assets/svg/rabbit.svg">
									<input id="animationSpeed" class="darko-c" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="30" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount"></input>
								</div>
							</div>
							
							<button id="minimize" class="">
							<img src="assets/svg/triangle.svg" class="" />
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-container darko-c">
				<div class="wrapper">
					<div class="wrapper-top darko-b">
						<div id="materialApp">
							<p class="title">Materials</p>
							<div class="material-pane">
								<div class="custom-file">
									<button class="darko-a">Upload</button>
									<input id="addMaterial" type="file" accept="image/png, image/jpeg, image/gif" multiple />
								</div>
							</div>
						</div>
						
					</div>
					<div class="wrapper-bottom darko-b">
						<div id="layerApp">
							<div class="layer-pane">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>